<html>
  <head>
    <title>Iniciar sesi칩n</title>
    <!-- Incluye los archivos CSS de Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post" class="formularioLogin">
        <div class="inputsAndButtonLogin">
          <h1 class="text-center text-white">Iniciando sesi칩n</h1>
          <div class="form-group">
            <label for="email" class="text-white">Email:</label>
            <input type="text" class="form-control" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password" class="text-white">Contrase침a:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="buttonBox">
            <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
          </div>
          <div class="buttonBox">
            <a class="btn btn-secondary text-white" href="/register">Crear nuevo
              usuario</a>
          </div>
          
          <div
            style="display: flex; justify-content: center; align-items: center;"
          >
            <div
              style="margin-top: 10px; display: flex; justify-content: center; align-items: center; gap:8px; border: 1px solid white; width: 210px; height: 50px; background-color: black; border-radius: 15px;"
            >
              <img
                style="width: 30px;"
                src="/assets/github.png"
                alt="imagen-logo-github"
              /><a
                style="text-align: center; text-decoration: none; color: white; font-family: 'Kalam', cursive; padding: 10px;"
                href="/github"
              > Login con github</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Incluye los archivos JS de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>