<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <!-- Incluye los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="errorMessage text-white">
            <h1>Error {{statusCode}}</h1>
            <div>
                {{error}}
            </div>
        </div>
        <div>
            {{user}}
        </div>
        <div class="buttonBox">
            {{#if user}}
            <a class="btn btn-success" href="/">Home</a>
            {{else}}
            <a class="btn btn-success" href="/login">Login</a>
            {{/if}}
        </div>
    </div>

    <!-- Incluye los archivos JS de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
